/* body {
    width: 960px;
} */

h1 {
    font-size: 10px;
    color: red;
}

.grouped {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: silver;
}

button {
    touch-action: manipulation;
}

.grouped li {
    float: left;
    margin: 2px;
    background-color: yellowgreen;
}

.Mgrouped {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: silver;
}

.Mgrouped li {
    float: left;
    margin: 2px;
    background-color: yellowgreen;
}

.Courts {
    background-color: sandybrown;
}

.Wait {
    background-color: sandybrown;
}

.Rest {
    background-color: sandybrown;
}

.Courts button {
    margin: 5x;
}

.AdjustCourtsNum {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.AdjustCourtsNum button {
    float: left;
    background-color: wheat;
}

.AddPlayerBtn {
    margin: 5px 0px;
}

.AdjustCourtsNum_1 {
    margin: 5px 0px;
}

.AdjustCourtsNum_2 {
    margin: 5px 0px;
}

.AdjustCourtsNum_3 {
    margin: 5px 0px;
}

.AdjustCourtsNum_4 {
    margin: 5px 0px;
}

.DelZone {
    background-color: red;
}

.MDelZone {
    background-color: red;
}

.ChangePBtn {
    margin: 5px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
